@import '../../../../assets/css/variables.scss';

@media (min-width: 992px)
{
  .content-wrapper
  {
    position: absolute;
    padding: 35px;
    background-color: #181924;
    height: 100%;
    right: 0;
    left: 256px;

    .content
    {
      background-color: $dt-colors-secondary;
      height: 100%;
      width: 100%;
      border-radius: 5px;
    }
  }
}

