@import '../../../../assets/css/variables.scss';

@media(min-width: 992px)
{
  .side-bar
  {
    position: fixed;
    width: 256px;
    height: 100%;
    background-color: $dt-colors-secondary;
    margin: 0;
  }
}
