<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
     <target xsi:type="File" name="coreLogs" fileName="/home/ilya/logfiles/core/${logger}.log"/>
     <target xsi:type="File" name="messagingLogs" fileName="/home/ilya/logfiles/messaging/${logger}.log"/>
  </targets>
  <rules>
    <logger name="GS.Core.Logging.*" minlevel="Trace" writeTo="coreLogs" />
    <logger name="GS.Core.Messaging.*" minlevel="Trace" writeTo="messagingLogs" />
  </rules>
</nlog>